body {

  margin: 0;

  font-family: Arial;

  background:
  linear-gradient(
    to bottom,
    #87ceeb,
    #dff6ff
  );

}

.mainContainer {

  display: flex;

  min-height: 100vh;

}

.sidebar {

  width: 260px;

  background: rgba(255,255,255,0.25);

  backdrop-filter: blur(10px);

  padding: 30px;

  box-sizing: border-box;

  border-right:
  1px solid rgba(255,255,255,0.4);

  display: flex;

  flex-direction: column;

  justify-content: space-between;

}


.sidebar h1 {

  color: #0f4c75;

  margin-top: 0;

}

.quoteBox {

  background: rgba(255,255,255,0.35);

  padding: 24px;

  border-radius: 20px;

  color: #0f4c75;

  line-height: 1.8;

  font-size: 15px;

  backdrop-filter: blur(8px);

}


.quoteBox h3 {

  margin-top: 0;

  margin-bottom: 15px;

}

.content {

  flex: 1;

  padding: 40px;

}

.hero {

  display: flex;

  justify-content: space-between;

  align-items: center;

  background: rgba(255,255,255,0.35);

  padding: 35px;

  border-radius: 25px;

  backdrop-filter: blur(8px);

}


.hero h1 {

  margin: 0;

  color: #0f4c75;

  font-size: 34px;

}


.hero p {

  color: #3a6b8a;

  margin-top: 10px;

  font-size: 17px;

}

.addBtn {

  padding: 15px 22px;

  border: none;

  border-radius: 14px;

  background: #00a8ff;

  color: white;

  cursor: pointer;

  font-size: 16px;

}

.formPopup {

  margin-top: 25px;

  background: rgba(255,255,255,0.35);

  padding: 25px;

  border-radius: 22px;

  display: flex;

  gap: 15px;

  flex-wrap: wrap;

  backdrop-filter: blur(8px);

}


.formPopup input {

  padding: 14px;

  width: 220px;

  border: none;

  border-radius: 12px;

  outline: none;

}


.formPopup button {

  padding: 14px 20px;

  border: none;

  border-radius: 12px;

  background: #00a8ff;

  color: white;

  cursor: pointer;

}

.section {

  margin-top: 40px;

}


.section h2 {

  color: #0f4c75;

  margin-bottom: 18px;

}

.empty {

  background: rgba(255,255,255,0.35);

  padding: 22px;

  border-radius: 18px;

  color: #3a6b8a;

}

.queueCard {

  margin-top: 18px;

  background: rgba(255,255,255,0.45);

  padding: 22px;

  border-radius: 20px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  backdrop-filter: blur(8px);

  border-left: 8px solid orange;

}


.blueCard {

  border-left: 8px solid #0984e3;

}


.greenCard {

  border-left: 8px solid #00b894;

}

.rightSide {

  display: flex;

  align-items: center;

  gap: 15px;

}


.rightSide span {

  font-weight: bold;

  color: #0f4c75;

}


.rightSide button {

  padding: 10px 16px;

  border: none;

  border-radius: 10px;

  background: #0984e3;

  color: white;

  cursor: pointer;

}

.deleteBtn {

  background: #d63031 !important;

}